body {
  background-image: url(/images/pattern-background-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  align-items: center;
  width: 30%;
  margin-top: 8%;
}
.card-img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-title {
  font-family: "Red Hat Display", sans-serif;
}

.card-content {
  padding: 30px;
}

.card-content p {
  color: hsl(224, 23%, 55%);
}

.btn-proceed {
  background-color: hsl(245, 75%, 52%);
  color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 900;
}

.btn-proceed:hover {
  background-color: hsla(245, 75%, 52%, 0.7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-cancel {
  background-color: #ffffff;
  color: hsl(224, 23%, 55%);
  border-radius: 5px;
  border: none;
  width: 100%;
}

.btn-cancel:hover {
  color: hsl(223, 47%, 23%);
}
.card-price {
  background-color: hsl(225, 100%, 98%);
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.change:hover {
  text-decoration: none;
}

.price {
  text-align: left;
}

.price h3,
p {
  margin: auto 0;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
    margin-top: 3%;
  }
  body {
    background-image: url(/images/pattern-background-mobile.svg);
  }
}
